h1 span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 1%;
}

header {
    width: 100%;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
}

nav{
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    float: right;
    text-align: center;
}

h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}
p {
    color: #777777;
}